<div class="overflow-hidden bg-white shadow-sm sm:rounded-lg dark:bg-gray-800/50 dark:shadow-none dark:outline dark:-outline-offset-1 dark:outline-white/10">
  <div class="px-4 py-5 sm:p-6">
    <%= content %>
  </div>
</div>
