<%= render ApplicationFrameComponent.new(
             title: 'General settings',
             current_tab: :setup,
             container_class: 'bg-stone-200'
           ) do %>

  <div class="p-4">

  </div>

<%- end %>
