<%= render ApplicationFrameComponent.new(
             title: 'Locomotives',
             current_tab: :driver,
             container_class: 'bg-stone-200'
           ) do |frame| %>
  <%- frame.with_actions do %>
    <%= link_to new_locomotive_path, class: 'button flex p-1', data: { action: 'modal#open' } do %>
      <%= inline_svg_tag('heroicons/plus') %>
    <%- end %>
  <%- end %>

  <div class="p-4">

    <h2 class="uppercase text-sm font-medium mb-2">All</h2>
    <ul class="grid grid-cols-min grid-cols-[repeat(auto-fill,minmax(min(12rem,40%),1fr))] gap-2">
      <%- @locomotives.each do |locomotive| %>
        <li class="min-w-36">
          <%= link_to locomotive.name, locomotive, class: "block p-2 bg-white rounded hover:text-blue-600" %>
        </li>
      <%- end %>
    </ul>

  </div>

<%- end %>
