<%= render ApplicationFrameComponent.new(
             title: 'Locomotives',
             current_tab: :driver,
             container_class: 'bg-stone-200'
           ) do %>

  <div class="p-4">

    <h2 class="uppercase text-sm font-medium mb-2">All</h2>
    <ul class="grid grid-cols-min grid-cols-[repeat(auto-fill,minmax(min(12rem,40%),1fr))] gap-2">
      <%- @locomotives.each_with_index do |locomotive, i| %>
        <li class="min-w-36">
          <%= link_to locomotive.address, locomotive_path(i), class: "block p-2 bg-white rounded" %>
        </li>
      <%- end %>
    </ul>

  </div>

<%- end %>
