.button {
  @apply
    rounded-md
    bg-blue-100
    px-3 py-2
    text-sm
    font-semibold text-blue-600
    shadow-sm
    hover:bg-blue-200;
}

.button-secondary {
  @apply
    rounded-md
    bg-gray-200
    px-3 py-2
    text-sm
    font-semibold text-gray-600
    shadow-sm
    hover:bg-blue-200 hover:text-blue-600;
}
