.input-field {
  @apply
    inline-block
    w-full
    relative
}

.input-field > .input-field--label {
  @apply
    absolute top-2 left-3
    text-xs
    font-medium text-gray-900;
}

.input-field input, .input-field select {
  @apply
    inline-block
    w-full
    text-gray-900 placeholder:text-gray-400
    sm:text-sm
    rounded-md
    border-0
    bg-white
    px-3 pt-6 pb-2
    ring-1 ring-gray-300
    focus-within:ring-2 focus-within:ring-indigo-600;
}

.input-field .field_with_errors > input, .input-field .field_with_errors > select {
  @apply
    ring-red-300
    focus-within:ring-red-600;
}
